* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: monospace;
}
main {
    width: 100vw;
    height: 100vh;
    position: relative;
}
canvas {
    display: block;
    image-rendering: pixelated;
    /* image-rendering: crisp-edges; */
}

#button-container {
    position: absolute;
    bottom: 30px;
    right: 10px;
}

#button-container button {
    margin-right: 5px;
}

#save-state {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
